<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kj.dao.SuppServicesDao">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kj.model.SuppServices">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="order" property="order" />
        <result column="version" property="version" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,title,content,order,version,create_time AS createTime ,modify_time AS modifyTime
    </sql>





</mapper>
