<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kj.dao.SuppDictionaryDao">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kj.model.SuppDictionary">
        <id column="id" property="id" />
        <result column="dic_no" property="dicNo" />
        <result column="group_no" property="groupNo" />
        <result column="name" property="name" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,dic_no as dicNo,group_no as groupNo,name,remark,create_time AS createTime ,modify_time AS modifyTime
    </sql>





</mapper>
