<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="bops/layout/layoutFirst :: layoutFirst(~{::title},~{::link},~{},~{::section},~{::script})">

<head>
  <title>杭州顺达后台管理系统</title>
  <!-- Custom styles for this page -->
  <link th:href="@{${session.appServerUrl}+'bops/vendor/datatables/dataTables.bootstrap4.min.css'}" rel="stylesheet">
</head>
<body>
  <section>
    <!--hide-->
    <input type="hidden" id="companyId"  th:value="${company.id}" >
    <!-- Begin Page Content -->
    <div class="container-fluid">
      <!-- Page Heading -->
      <h1 class="h3 mb-2 text-gray-800">公司图片</h1>
      <p class="mb-4">可以编辑公司图片信息,选择图片-》图片上传-》保存更改</p>
      <div class="card shadow mb-4">

        <form role="form">
          <div style="padding: 10px;margin: 0 auto;" class="row">
            <img th:src="|${session.appServerUrl}${suppCompany.imagePath}|" width="400px" height="300px" id="img-change" style="margin: 0 auto;">
          </div>
          <div style="padding: 10px;margin: 0 auto;" class="row">
            <div style="margin: 0 auto;">
              <input type="file" id="preview" class="btn btn-info" placeholder="预览" >
              <a href="#" id="btn-save" class="btn btn-success">上传</a>
              <a href="#" id="btn-submit" class="btn btn-success">保存</a>
            </div>
          </div>
        </form>
      </div>

    </div>
    <!-- /.container-fluid -->

  </section>




  <!-- Page level plugins -->
  <script th:src="@{${session.appServerUrl}+'bops/vendor/chart.js/Chart.min.js'}"></script>
  <!-- Page level custom scripts -->

  <script th:src="@{${session.appServerUrl}+'bops/vendor/datatables/jquery.dataTables.min.js'}"></script>
  <script th:src="@{${session.appServerUrl}+'bops/vendor/datatables/dataTables.bootstrap4.min.js'}"></script>
  <script th:src="@{${session.appServerUrl}+'bops/js/image-upload-util.js'}"></script>


  <script th:src="@{${session.appServerUrl}+'bops/js/company-image.js'}"></script>
</body>
</html>
